<section class="section">
  <%= section_title t '.heading' %>

  <div class="box">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <nav class="buttons are-small">
            <%= link_to t('.actions.new'), new_person_path, class: 'button is-success' %>
          </nav>
        </div>
      </div>
      <div class="level-right" id="filters">
        <div class="level-item">
          <nav class="buttons has-addons are-small">
            <%= link_to "Com veículos transferiveis", people_path(filter: :transferable), class: 'button' %>
            <%= link_to 'Ordenar por Nome', people_path(filter: :name), class: 'button' %>
            <%= link_to 'Todos', people_path, class: 'button' %>
          </nav>
        </div>
      </div>
    </nav>

    <table id="people" class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Documento</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= link_to person.name, person_path(person) %></td>
            <td><%= person.document_number %></td>
            <td><%= link_to t('.actions.update'), edit_person_path(person) %></td>
            <td><%= link_to t('.actions.delete'), person_path(person), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%== pagy_bulma_nav(@pagy) %>
  </div>
</section>
