<div class="field">
  <%= f.label :license_plate, class: 'label' %>
  <div class="control">
    <%= f.text_field :license_plate, class: 'input', required: true %>
  </div>
</div>

<div class="field">
  <%= f.label :renavam, class: 'label' %>
  <div class="control">
    <%= f.text_field :renavam, class: 'input', required: true %>
  </div>
</div>

<div class="field">
  <%= f.label :crv_number, class: 'label' %>
  <div class="control">
    <%= f.text_field :crv_number, class: 'input', required: true %>
  </div>
</div>

<div class="field">
  <%= f.label :crv_date, class: 'label' %>
  <div class="control">
    <%= f.date_field :crv_date, class: 'input', required: true %>
  </div>
</div>
