<%= section_title 'veículo' %>

<div class="field">
  <%= f.label :vehicle, class: 'label' %>
  <div class="control">
    <%= f.select :vehicle_id, Vehicle.filter_by_transferable.collect { |p| [ p.license_plate, p.id ] }, include_blank: true, class: 'input', required: true %>
  </div>
</div>

<div class="field">
  <div class="file has-name" data-controller="files">
    <%= f.label :doc_image, class: 'file-label' do %>
      <%= f.file_field :doc_image, accept: 'image/png,image/gif,image/jpeg', class: 'file-input', 'data-action' => "change->files#display" %>
      <span class="file-cta">
        <span class="file-icon">
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </span>
        <span class="file-label">
         Escolha um arquivo...
        </span>
      </span>
      <span class="file-name" data-files-target="fileItem">
        Escolha a imagem do documento
      </span>
    <% end %>
  </div>
</div>

<%= section_title 'comprador' %>

<%= f.fields_for buyer do |ff| %>
  <div class="field">
    <%= ff.label :name, class: 'label' %>
    <div class="control">
      <%= ff.text_field :name, class: 'input', required: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <% Person.document_kinds.keys.each do |kind| %>
        <label class="radio">
          <%= ff.radio_button :document_kind, kind %>
          <%= t(kind, scope: 'person_document_kinds') %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= ff.label :document_number, class: 'label' %>
    <div class="control">
      <%= ff.text_field :document_number, class: 'input', required: true %>
    </div>
  </div>

  <%= section_title 'endereço' %>

  <%= ff.fields_for :address, buyer.build_address do |fa| %>
    <div class="field">
      <%= fa.label :state, class: 'label' %>
      <div class="control">
        <%= fa.text_field :state, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= fa.label :city, class: 'label' %>
      <div class="control">
        <%= fa.text_field :city, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= fa.label :district, class: 'label' %>
      <div class="control">
        <%= fa.text_field :district, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= fa.label :street, class: 'label' %>
      <div class="control">
        <%= fa.text_field :street, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= fa.label :number, class: 'label' %>
      <div class="control">
        <%= fa.text_field :number, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= fa.label :zip_code, class: 'label' %>
      <div class="control">
        <%= fa.text_field :zip_code, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= fa.label :complement, class: 'label' %>
      <div class="control">
        <%= fa.text_field :complement, class: 'input' %>
      </div>
    </div>
  <% end %>
<% end %>
