<section class="section">
  <%= section_title t '.heading' %>

  <div class="box">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <nav class="buttons are-small">
            <%= link_to t('.actions.new'), new_transfer_path, class: 'button is-success' %>
          </nav>
        </div>
      </div>
      <div class="level-right" id="filters">
        <div class="level-item">
          <nav class="buttons has-addons are-small">
            <%= link_to 'Ordenar por data', transfers_path(filter: :creation), class: 'button' %>
            <%= link_to 'Ordenar por usuário', transfers_path(filter: :user), class: 'button' %>
            <%= link_to 'Todos', transfers_path, class: 'button' %>
          </nav>
        </div>
      </div>
    </nav>

    <table id="transfers" class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>Imagem do Documento</th>
          <th>Vendedor</th>
          <th>Comprador</th>
          <th>Documento do Proprietário</th>
          <th>Placa do Veículo</th>
          <th>Usuário</th>
          <th>Data de Transferência</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @transfers.each do |transfer| %>
          <tr>
            <td><%= image_tag transfer.doc_image, width: 128, height: 128 %></td>
            <td><%= link_to transfer.seller.name, person_path(transfer.seller) %></td>
            <td><%= link_to transfer.name, person_path(transfer.buyer) %></td>
            <td><%= transfer.document_number %></td>
            <td><%= transfer.license_plate %></td>
            <td><%= transfer.email %></td>
            <td><%= transfer.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%== pagy_bulma_nav(@pagy) %>
  </div>
</section>
